*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body,html{
    text-align: center;
}

h1{
    margin: auto;
    margin-top: 100px;
}
.box{
    width: 100px;
    height: 100px;
    background-color: green;
    border: 1px solid;
    margin: auto;
    margin-top: 100px;
    margin-bottom: 100px;
    transition: 1s;
}

.buttons{
    margin-bottom: 100px;
}
.left-btn{
    margin-right: 15px;
}

.color-box {
    margin-top: 100px;
    height: 100px;
}
.color-box h1{
    margin: auto;
    transition: 1s;
}
